<!-- Tree descrption -->
<div class="col-lg-6">
  <section id="tree_description" class="section">
    <h2><%= t("views.plots._tree_description.headings.#{@plot.tree_name}") %></h2>

    <%= t("views.plots._tree_description.copy.#{@plot.tree_name}_tree_html") %>

  </section>
</div>
<!-- /Tree descrption -->
