// Place all the styles related to the plots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Common settings
@import "common";




h2 {
	border-bottom: 1px solid $grey;
}


#pictures {
	img {
		&.img-responsive {
			border: 1px solid $grey;
			padding: 0.5em;
		}
	}
}

#statutory_approvals {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#general_plan {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#roads {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#power {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#brochure {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#plot_owners_association {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

#advertising {
	img {
		&.img-responsive {
			border: 1px solid $grey;
		}
	}
}

