<footer class="footer">
	<div class="container">
		<p class="text-muted">
			&copy; <%= (Time.zone.now.year) %> <%= link_to t("application.name"), root_path %>. <%= t("views.application._footer.website_by") %> <%= link_to t("application.developer.name"), t("application.developer.url") %>.
		</p>
	</div><!-- /.container -->
</footer><!-- /.footer -->
